{% extends 'base.html' %}
{% block context %}
<div class="row">
    <div class="col-sm-6">
        <h6 class="text-center alert alert-secondary">Employee Data Update Form</h6>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}} <hr>
            <input type="submit" class="btn btn-outline-warning" value="Update">
            <a href="{% url 'createview'%}" class="btn btn-outline-danger" style="margin-left: 50px;">Cancel</a>
        </form>
    </div>
</div>
{% endblock context %}